body {
    width: auto;
    height: 400dvh;
    background-image: url(IMG_0198.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .wrapper {
    background-color: #ccc;
    /*padding: 300px;*/
    height: 10%;
    width: 100%;
    position: relative;
  }

  .whats{
    position: absolute;
    width: auto;
    height: auto;
    font-size: 90px;
    font-family: arial;
    bottom: 0%;
    left: 50%;
    padding-right: 700px;
    padding-bottom: 33px;
  }

  .question{
    position: absolute;
    width: auto;
    height: auto;
    font-size: 90px;
    font-family: arial;
    bottom: 0%;
    left: 50%;
    padding-left: 500px;
    padding-bottom: 33px;
  }

  .sticky {
    /*background-color: #009688;*/
    width: 100%;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    color: black;
    display: flex;
    font-family: arial;
    font-size: 90px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    transform: translateY(-50%);
  }
