body {
  width: auto;
  height: 400vh;
  background-image: url(IMG_0198.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper {
  /*background-color: #ccc;*/
  /*padding: 300px;*/
  width: auto;
  height: 150vh;
  position: relative;
}

.whats{
  position: absolute;
  width: auto;
  height: 103px;
  font-size: 90px;
  font-family: arial;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 700px;
}

.question{
  position: absolute;
  width: auto;
  height: 103px;
  font-size: 90px;
  font-family: arial;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 500px;
}

.sticky {
  /*background-color: #009688;*/
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  color: black;
  display: flex;
  font-family: arial;
  font-size: 90px;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  transform: translateY(-50%);
}
