:root{
    --font-type: Helvetica
}


body{
    background-color: white;}

.container {
    width: 100%;
    height: 100%;
}

.container h1 {
    width: auto;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    padding:0;
    font-size:  6vw;
    color: black;
    font-family:  var(--font-type);
    font-weight: normal;
}
.container img{
    width: 100%;
}

.container h2{
    margin-bottom: 5%;
    text-align: left;
    font-family: var(--font-type);
    margin-left: 22%;
    margin-top: 30%;
    margin-bottom: 9%;
    font-size: 5vw;
    font-weight: lighter;
    color: black;
}

.whats{
    width: 100%;
    height: auto;
}

.whats p{
    text-align: left;
    font-family: 'font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;';
    font-size: 3vw;
    margin-left: 18%;
    margin-right: 15%;
    margin-bottom: 100%;
}
