body {
    width: auto;
    height: 400vh;
    background-image: url(IMG_0198.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .wrapper {
    /*background-color: #ccc;*/
    /*padding: 300px;*/
    height: 200vh;
    width: auto;
  }

  .sticky {
    /*background-color: #009688;*/
    width: 100vw;
    height: 50vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*left: 0;*/
    color: black;
    display: flex;
    font-size: 44px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
